
.mat-expansion-panel-header{
    font-weight: bold;
}
.mat-subheading-2{
    font-size: 13px;
}
.mat-form-field{
    font-size: 13px;
    font-family: "Arial";
}
.mat-select-panel mat-option.mat-option{
    font-size: 13px;
}
.mat-raised-button
{
    // font-family: ;
}